<div class="home-page">

  <div class="banner">
    <img src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="...">
      <div class ="logo">
        <div class="banner-text">
          <h1>Fancy Cocktails!</h1>
          <p>Cocktail party alert</p>
          <button type="button" class="btn btn-danger">Drink</button>
        </div>
      </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 m-5 ">
    <% @cocktails.each do |cocktail| %>
      <div class="col mb-4">
        <div class="card">
          <%if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src="https://source.unsplash.com/1600x900/?cocktail" class="card-img-top" alt="...">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
              <% cocktail.doses.each do |dose| %>
                <p class="card-text"><%= dose.ingredient.name %></p>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add Cocktail", new_cocktail_path(@cocktail) %>
</div>
